@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../src/Assets/styles/header.css';
@import '../src/Assets/styles/home.css';
@import '../src/Assets/styles/services.css';
@import '../src/Assets/styles/about.css';
@import '../src/Assets/styles/acardion.css';
@import '../src/Assets/styles/portfolio.css';
@import '../src/Assets/styles/contact.css';
@import '../src/Assets/styles/footer.css';
@import '../src//Assets//styles/price.css';

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container {
	width: 95%;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

button {
	border: none;
	color: white;
}
body {
	background: #000000;
}

.modalBg {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100vh;
	background: #000000d3;
	z-index: 50;
}
