.contact {
	color: white;
	margin-top: 60px;
	display: flex;
	align-items: center;

}
.kontakt {
	font-size: 60px;
	color: white;
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact-big-block {
	width: 100%;
	height: 750px;
	border-radius: 30px;
	border: solid rgba(255, 255, 255, 0.452) 1px;
}
.sots-block{
	width: 280px;
	height:360px;
	border-radius: 30px;
	border: solid rgba(255, 255, 255, 0.452) 1px;
	transition: 0.3;
	cursor: pointer;
	transition: 0.3;

}
.sots-block:hover{
	border: solid white 0.5px;
	transition: 0.3;
}
.sots-block:hover .sots-circles {
color: rgb(0, 0, 0);
	transition: 0.3;

}
.sots-block:hover .circles {
background: white;
	transition: 0.3;

}


.sots-blocks{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
margin-right: -70px;
	gap: 30px;
}
.form{
	display: flex;
	align-items: center;
	gap: 30px;
}
.contact-big-block h1{
font-size: 32px;
line-height: 37px;
}
.contact-big-block p{
	color: rgba(255, 255, 255, 0.484);
	letter-spacing: 1.3px;
	margin-top: 25px;
	margin-bottom: 40px;
}
.contact-big-block h2{
	font-size: 17px;
	color: rgba(255, 255, 255, 0.461);
}
.contact-big-block h3{
	font-size: 35px;
	margin-bottom: 35px;
}
.contact-big-block h4{
	color: rgba(255, 255, 255, 0.47);
}
.form input{
	margin-top: 20px;
width: 330px;
height: 55px;
border-radius: 10px;
border: solid white 1px;
background: none;
color: white;
text-align: left;
}
.form label span{
color: white;
}

.contact-big-block h5{
	color: rgba(255, 255, 255, 0.47);
margin-top: 30px;
letter-spacing: 1px;
}

.contact-service-text input{
width: 30px;
height: 30px;
}
.service-top{
	display: flex;
	/* gap: 21pc; */
}
.contact-services{
	margin-top: 30px;
}
.service-top{
	display: flex;
	align-items: center;
	gap: 11pc;
}
.service-bottom{
	margin-top: 20px;
	display: flex;
	align-items: center;
	gap: 11pc;
}
.contact-big-block button:hover{
color: black;
background: white;
transition: 0.3s;
}
.contact-big-block button{
	width: 700px;
transition: 0.3s;

	font-size: 20px;
	height: 70px;
	margin-top: 30px;
	border: solid white 1px;
	border-radius: 15px;
}

.contact-service-text{
	display: flex;
	align-items: center;
	gap: 20px;
}
.contact-service-text h6{
	color: rgba(255, 255, 255, 0.47);

}
.contact-big-block-text{
margin: 40px 0 40px 65px;
}
.circles {
	border: solid white 2px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	cursor: pointer;
	margin: 40px 0 0 30px; 
	font-size: 30px;
}

